.nav {
  position: fixed;
  padding: 0rem 3rem;
  width: 100%;
  transition: all 0.5s ease-in;
  z-index: 5;
}

.nav__black {
  background-color: var(--color-black);
}

.nav__contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.nav__logo {
  width: 12rem;
  cursor: pointer;
}

.nav__avatar,
.nav__avatar:link {
  /* height: 100%; */
  font-size: 2.8rem;
  display: flex;
  align-items: center;
  color: var(--color-red);
  cursor: pointer;
  transition: all .4s ease-out;
}

.nav__avatar:hover,
.nav__avatar:active {
  color: hsl(357, 92%, 40%);
}
