.nav {
  position: fixed;
  padding: 0rem 3rem;
  width: 100%;
  transition: all 0.5s ease-in;
  z-index: 50;
}

.nav__black {
  background-color: var(--color-black);
}

.nav__contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 1.6rem;
  position: relative;
  flex: 1;
}

.nav__user_icon {
  color: var(--color-red);
  height: 8rem;
  width: 8rem;
  padding: 2.6rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 300;
  cursor: pointer;
}

.nav__user_icon:hover + .nav__profile_links {
  visibility: visible;
  opacity: 1;
}

.nav__profile_links:hover {
  opacity: 1;
  visibility: visible;
}

.show__profile {
  opacity: 1 !important;
  visibility: visible !important;
}

.nav__profile_links {
  position: absolute;
  right: 9rem;
  background-color: rgba(20, 20, 20, 0.3);
  border-radius: 5px;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in;
  font-size: 1.4rem;
  margin-left: auto;
  height: 8rem;
  padding: 0 2rem;

  opacity: 0;
  visibility: hidden;
}

.nav__profile_links a:link,
.nav__profile_links a:visited {
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease-in;
}

.nav__profile_link {
  color: #ddd;
  border-bottom: 2px solid transparent;
}

.nav__profile_links a:hover,
.nav__profile_links a:active {
  color: #fff;
}

.active {
  color: #fff;
  border-bottom: 2px solid var(--color-red);
}

.nav__logo {
  width: 12rem;
  cursor: pointer;
  margin-top: 12px;
}

.nav__movie_links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
