.banner {
  width: 100%;
  height: 70vh;
  padding: 2rem 5rem;
  overflow: hidden;
  color: #fff;
}

.banner__contents {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 4rem;
  gap: 1rem;
}

.banner__btns {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2rem;
}

.banner__description {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.949);
}

.banner__btn_icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-red);
}

.banner__info {
  display: flex;
  font-weight: 600;
  font-size: 1.7rem;
  align-items: center;
}

.banner__info span {
  display: inline-block;
}

@media (max-width: 58.75em) {
  .banner {
    height: 50vh;
  }

  .banner__contents {
    width: 70%;
  }
}

@media (max-width: 48em) {
  .banner__contents {
    width: 80%;
  }
}

@media (max-width: 26.56em) {
  .banner__contents {
    width: 100%;
  }
}
