.search {
  position: relative;
}

.search input {
  height: 4rem;
  width: 25rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-red);
  background-color: transparent;
  color: #fff;
  padding-left: 3rem;
  padding-right: 2rem;
  transition: all .4s ease-out;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
}

.search input:focus {
    width: 35rem;
    background-color: rgba(20, 20, 20, .2);
}

.search__icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
