.card {
  box-shadow: var(--shadow-lg);
  width: 25rem;
  height: 14.1rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.card__lg {
  position: relative;
  width: 20rem;
  height: 30rem;
}

.card__image {
  /* width: 20rem; */
  width: 100%;
  border-radius: 10px;
  transition: all 0.45s ease-out;
  opacity: 0.9;
}

.card:hover > .card__image {
  transform: scale(1.08);
  opacity: 1;
}

.card__image:hover {
  transform: scale(1.08);
  opacity: 1;
}

.card:hover > .card__content {
  transform: translateY(0);
}

.card__content {
  width: 102%;
  height: 102%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(
    to top,
    rgba(20, 20, 20, 0.95) 0%,
    rgba(20, 20, 20, 0.5) 65%,
    rgba(20, 20, 20, 0) 85%
  );
  padding: 1.6rem;
  transition: all 0.4s ease-out;
}

.card__content p {
  height: 30%;
  font-size: 1.2rem;
}

.card__content h4 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.card__btns {
  z-index: 10;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
