.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 500;
}

.loader__line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: .8rem;
  z-index: 1000;
  overflow-x: hidden;
}


.loader__bg {
  width: 200%;
  height: 100%;
  /* background-color: yellow; */
  background-image: linear-gradient(
    to right,
    #e50914 12.5%,
    #d5005b 25%,
    #a42f86 37.5%,
    #65488f 50%,
    #e50914 62.5%,
    #d5005b 75%,
    #a42f86 87.5%,
    #65488f 100%
  );
  animation: translate 2s ease-in-out infinite alternate-reverse;
}

@keyframes translate {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
